.contact {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: #fff;
    animation-delay: 1.5s;
}
.contact-detail h1 {
    font-size: 55px;
    line-height: 1;
}
.contact-detail p {
    margin: 10px 0 20px;
}
.contact-detail form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-detail input,
.contact-detail textarea {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    transition: 0.3s;
}
.contact-detail input:focus,
.contact-detail textarea:focus {
    border-color: #fff;
    outline: none;
}
.contact-detail .btn {
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px #fff;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
}
.contact-detail .btn:hover {
    background: transparent;
    box-shadow: none;
    color: #fff;
}
.contact-img .img-box {
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
}
.contact-img .img-box img {
    position: absolute;
    top: 0px;
    display: block;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 80px 5% 0; 
    }

    .contact-detail h1 {
        font-size: 35px;
    }

    .contact-detail p {
        font-size: 14px;
    }

    .contact-detail form {
        width: 90%;
        max-width: 400px;
    }

    .contact-detail input,
    .contact-detail textarea {
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    .contact-detail .btn {
        width: 100%;
    }

    .contact-img .img-box {
        width: 50vw;
        height: 50vw;
    }
}

@media (max-width: 480px) {
    .contact {
        padding-top: 100px; 
    }

    .contact-detail h1 {
        font-size: 28px;
    }

    .contact-detail p {
        font-size: 12px;
    }

    .contact-detail input,
    .contact-detail textarea {
        font-size: 12px;
        padding: 8px;
    }

    .contact-img .img-box {
        width: 60vw;
        height: 60vw;
    }
}
